.oneline {
    display: table;
    width: 100%;
    padding-left:0;margin-left:0px;list-style:none
}

.oneline__item {
    display: table-cell;
    margin: 0;
    padding-bottom: 6px;
    width: 50px;
    display:inline-block;
}

.oneline__input {
    position: absolute;
    visibility: hidden;
}

.oneline__label {
    display: block;
    margin: 0 -1px -1px 0;
    padding: 1em .25em;

    border: 1px solid #ddd;

    font: 14px/1.5; 
    font-family:Bitstream Vera Sans Mono,Monaco,DejaVu Sans Mono,Lucida Console,Consolas,Menlo,Liberation Mono,Courier New, monospace;

    text-align: center;  

    cursor: pointer;
}

.oneline__label:hover {
    background: #fafafa;
}

.oneline__input:checked + .oneline__label {
    background: #eee;
    color: #333; 
}

input {
  text-transform: uppercase;
}