<!-- extend base layout -->
<h2><font color="red">The API used to build this website was deprecated by Google. Searching will no longer return results.</h2></font>
{% extends "base.html" %}
{% block content %}
  <form action="" method="post" name="search">
    {{ form.hidden_tag() }}
    <div class="container">
      <h1><u>Search</u></h1>
      <br>
      Please enter your Departing Airport:
      <input type="text" 
      name="departingAirport" 
      id="departingAirport" 
      onClick="this.value='';"
      style="font-size:14pt;" 
      size="20" 
      autocomplete=off
      />
      <br><br>
      Please enter your Arriving Airport:
      <input type="text" 
      name="arrivingAirport" 
      id="arrivingAirport" 
      style="font-size:14pt;" 
      size="20"
      onClick="this.value='';"
      autocomplete=off
      />
      <script>
      var departing = new Awesomplete(document.getElementById("departingAirport"), {
        minChars: 1,
        autoFirst: true,
        filter: function(text, input) {
          return Awesomplete.FILTER_CONTAINS(text, input);
        },
        list: "#airportcodes",
      });
       var arriving = new Awesomplete(document.getElementById("arrivingAirport"), {
        minChars: 1,
        autoFirst: true,
        filter: function(text, input) {
          return Awesomplete.FILTER_CONTAINS(text, input);
        },
        list: "#airportcodes",
      });
      </script>
    </div>
    <br>
    <div class="container">
      <h2>Flight there:</h2><br>
      What day would you like to leave on?
      <ul class="segmented-control">
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="0" name="depDay" id="DepMon0" >
          <label class="segmented-control__label" for="DepMon0">Mon</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="1" name="depDay" id="DepTue1" >
          <label class="segmented-control__label" for="DepTue1">Tue</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="2" name="depDay" id="DepWed2" >
          <label class="segmented-control__label" for="DepWed2">Wed</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="3" name="depDay" id="DepThu3" checked>
          <label class="segmented-control__label" for="DepThu3">Thu</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="4" name="depDay" id="DepFri4" >
          <label class="segmented-control__label" for="DepFri4">Fri</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="5" name="depDay" id="DepSat5" >
          <label class="segmented-control__label" for="DepSat5">Sat</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="6" name="depDay" id="DepSun6" >
          <label class="segmented-control__label" for="DepSun6">Sun</label>
        </li>
      </ul>
      How many stops are you willing to have on your way there?
      <ul class="segmented-control">
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="0" name="depStops" id="DEPnoStops" >
          <label class="segmented-control__label" for="DEPnoStops">0</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="1" name="depStops" id="DEPoneStop" >
          <label class="segmented-control__label" for="DEPoneStop">1</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="2" name="depStops" id="DEPtwoStops" checked>
          <label class="segmented-control__label" for="DEPtwoStops">2</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="3" name="depStops" id="DEPthreeStops">
          <label class="segmented-control__label" for="DEPthreeStops">3</label>
        </li>
      </ul>
      What's the earliest or latest you'd like your flight to take off? (Leave blank to depart at anytime)
      <br>
      <br>
      <ul class="oneline">
        <div class = "trykeeptogether">
          <div class = "trykeeptogether">
            <tt>Early:</tt>
            <input type="text" value="8" style="font-size:14pt;text-align: right" onClick="this.value='';" name="departingTimeEarly" size="2" pattern="\d*">&nbsp;
            <li class="oneline__item">
              <input class="oneline__input" type="radio" value="0" name="depTimeEarlyAMPM" id="departingTimeEarlyAM" checked>
              <label class="oneline__label" for="departingTimeEarlyAM">AM</label>
            </li><!--
            --><li class="oneline__item">
              <input class="oneline__input" type="radio" value="12" name="depTimeEarlyAMPM" id="departingTimeEarlyPM" >
              <label class="oneline__label" for="departingTimeEarlyPM">PM</label>
            </li>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class = "trykeeptogether"><tt>Late:&nbsp;</tt>
            <input type="text" value="10" onClick="this.value='';" name="departingTimeLate" size="2" style="font-size:14pt;text-align: right" pattern="\d*">&nbsp;
            <li class="oneline__item">
              <input class="oneline__input" type="radio" value="0" name="depTimeLateAMPM" id="departingtimeLateAM" >
              <label class="oneline__label" for="departingtimeLateAM">AM</label>
            </li><!--
            --><li class="oneline__item">
              <input class="oneline__input" type="radio" value="12" name="depTimeLateAMPM" id="departingtimeLatePM" checked>
              <label class="oneline__label" for="departingtimeLatePM">PM</label>
            </li>
          </div>
        </div>
      </ul>
    </div>
    <div class="container">
      <h2>Flight back:</h2><br>
      What day would you like to return on?
      <ul class="segmented-control">
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="0" name="retDay" id="retMon0" >
          <label class="segmented-control__label" for="retMon0">Mon</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="1" name="retDay" id="retTue1" >
          <label class="segmented-control__label" for="retTue1">Tue</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="2" name="retDay" id="retWed2" >
          <label class="segmented-control__label" for="retWed2">Wed</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="3" name="retDay" id="retThu3" >
          <label class="segmented-control__label" for="retThu3">Thu</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="4" name="retDay" id="retFri4" >
          <label class="segmented-control__label" for="retFri4">Fri</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="5" name="retDay" id="retSat5" >
          <label class="segmented-control__label" for="retSat5">Sat</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="6" name="retDay" id="retSun6" checked>
          <label class="segmented-control__label" for="retSun6">Sun</label>
        </li>
      </ul>
      How many stops are you willing to have on your way back?
      <ul class="segmented-control">
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="0" name="retStops" id="RETnoStops" >
          <label class="segmented-control__label" for="RETnoStops">0</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="1" name="retStops" id="REToneStop" >
          <label class="segmented-control__label" for="REToneStop">1</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="2" name="retStops" id="RETtwoStops" checked>
          <label class="segmented-control__label" for="RETtwoStops">2</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="3" name="retStops" id="RETthreeStops" >
          <label class="segmented-control__label" for="RETthreeStops">3</label>
        </li>
      </ul>
      What's the earliest or latest you'd like your flight to take off? (Leave blank to depart at anytime)
      <br>
      <br>
      <ul class="oneline">
        <div class = "trykeeptogether">
          <div class = "trykeeptogether">
            <tt>Early:</tt>
            <input type="text" value="8" onClick="this.value='';" name="returningTimeEarly" size="2" style="font-size:14pt;text-align: right" pattern="\d*">&nbsp;
            <li class="oneline__item">
              <input class="oneline__input" type="radio" value="0" name="retTimeEarlyAMPM" id="returningTimeEarlyAM" checked>
              <label class="oneline__label" for="returningTimeEarlyAM">AM</label>
            </li><!--
            --><li class="oneline__item">
              <input class="oneline__input" type="radio" value="12" name="retTimeEarlyAMPM" id="returningTimeEarlyPM" >
              <label class="oneline__label" for="returningTimeEarlyPM">PM</label>
            </li>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class = "trykeeptogether"><tt>Late:&nbsp;</tt>
            <input type="text" value="10" onClick="this.value='';" name="returningTimeLate" size="2" style="font-size:14pt;text-align: right" pattern="\d*">&nbsp;
            <li class="oneline__item">
              <input class="oneline__input" type="radio" value="0" name="retTimeLateAMPM" id="returningtimeLateAM" >
              <label class="oneline__label" for="returningtimeLateAM">AM</label>
            </li><!--
            --><li class="oneline__item">
              <input class="oneline__input" type="radio" value="12" name="retTimeLateAMPM" id="returningtimeLatePM" checked>
              <label class="oneline__label" for="returningtimeLatePM">PM</label>
            </li>
          </div>
        </div>
      </ul>
    </div>
    <br>
    <div class="container">
      <p><input type="submit" value="Search" onClick="this.form.submit(); this.disabled=true; this.value='Searching...';" class="btn btn-primary btn-lg btn-block" ></p>
      <br>
    </div>
  </form>
{% endblock %}
