<!-- extend base layout -->
<!-- <h2><font color="red">The API used to build this website was deprecated by Google. Searching will no longer return results.</h2></font> -->
{% extends "base.html" %}
{% block content %}
  <form action="" method="post" name="search">
    {{ form.hidden_tag() }}
    <div class="container">
      <h1><u>Search</u></h1>
      <br>
      Please enter your Departing Airport:
      <input type="text" 
      name="departingAirport" 
      id="departingAirport" 
      onClick="this.value='';"
      style="font-size:14pt;" 
      size="20" 
      autocomplete="nope"
      value="LAX"
      />
      <br><br>
      Please enter your Arriving Airport:
      <input type="text" 
      name="arrivingAirport" 
      id="arrivingAirport" 
      style="font-size:14pt;" 
      size="20"
      onClick="this.value='';"
      autocomplete="off"
      value="JFK"
      />
      <script>
      var departing = new Awesomplete(document.getElementById("departingAirport"), {
        minChars: 1,
        autoFirst: true,
        filter: function(text, input) {
          return Awesomplete.FILTER_CONTAINS(text, input);
        },
        list: "#airportcodes",
      });
       var arriving = new Awesomplete(document.getElementById("arrivingAirport"), {
        minChars: 1,
        autoFirst: true,
        filter: function(text, input) {
          return Awesomplete.FILTER_CONTAINS(text, input);
        },
        list: "#airportcodes",
      });
      </script>
    </div>
    <br>
     <div class="container">
      <h2>Flight there:</h2><br>
      What day would you like to leave on?
      <ul class="segmented-control">
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="0" name="depDay" id="DepMon0" >
          <label class="segmented-control__label" for="DepMon0">Mon</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="1" name="depDay" id="DepTue1" >
          <label class="segmented-control__label" for="DepTue1">Tue</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="2" name="depDay" id="DepWed2" >
          <label class="segmented-control__label" for="DepWed2">Wed</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="3" name="depDay" id="DepThu3" checked>
          <label class="segmented-control__label" for="DepThu3">Thu</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="4" name="depDay" id="DepFri4" >
          <label class="segmented-control__label" for="DepFri4">Fri</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="5" name="depDay" id="DepSat5" >
          <label class="segmented-control__label" for="DepSat5">Sat</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="6" name="depDay" id="DepSun6" >
          <label class="segmented-control__label" for="DepSun6">Sun</label>
        </li>
      </ul>
      How many stops are you willing to have on your way there?
      <ul class="segmented-control">
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="0" name="depStops" id="DEPnoStops" >
          <label class="segmented-control__label" for="DEPnoStops">0</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="-2" name="depStops" id="DEPoneStop" checked>
          <label class="segmented-control__label" for="DEPoneStop">1</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="2" name="depStops" id="DEPtwoStops" >
          <label class="segmented-control__label" for="DEPtwoStops">2</label>
        </li>
      </ul>
      What's the earliest or latest you'd like your flight to take off? (Delete values to depart at anytime)
      <br>
      <br>
      <ul class="oneline">
        <div class = "trykeeptogether">
          <div class = "trykeeptogether">
            <tt>Early:</tt>
            <input  id="depMinTime" type="text" value="8" style="font-size:14pt;text-align: right" onClick="this.value='';" name="departingTimeEarly" size="2" pattern="\d*">&nbsp;
            <li class="oneline__item">
              <input class="oneline__input" type="radio" value="0" name="depTimeEarlyAMPM" id="departingTimeEarlyAM" checked>
              <label class="oneline__label" for="departingTimeEarlyAM">AM</label>
            </li><!--
            --><li class="oneline__item">
              <input class="oneline__input" type="radio" value="12" name="depTimeEarlyAMPM" id="departingTimeEarlyPM" >
              <label class="oneline__label" for="departingTimeEarlyPM">PM</label>
            </li>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class = "trykeeptogether"><tt>Late:&nbsp;</tt>
            <input id="depMaxTime" type="text" value="10" onClick="this.value='';" name="departingTimeLate" size="2" style="font-size:14pt;text-align: right" pattern="\d*">&nbsp;
            <li class="oneline__item">
              <input class="oneline__input" type="radio" value="0" name="depTimeLateAMPM" id="departingtimeLateAM" >
              <label class="oneline__label" for="departingtimeLateAM">AM</label>
            </li><!--
            --><li class="oneline__item">
              <input class="oneline__input" type="radio" value="12" name="depTimeLateAMPM" id="departingtimeLatePM" checked>
              <label class="oneline__label" for="departingtimeLatePM">PM</label>
            </li>
          </div>
        </div>
      </ul>
    </div>
    <div class="container">
      <h2>Flight back:</h2><br>
      What day would you like to return on?
      <ul class="segmented-control">
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="0" name="retDay" id="retMon0" >
          <label class="segmented-control__label" for="retMon0">Mon</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="1" name="retDay" id="retTue1" >
          <label class="segmented-control__label" for="retTue1">Tue</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="2" name="retDay" id="retWed2" >
          <label class="segmented-control__label" for="retWed2">Wed</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="3" name="retDay" id="retThu3" >
          <label class="segmented-control__label" for="retThu3">Thu</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="4" name="retDay" id="retFri4" >
          <label class="segmented-control__label" for="retFri4">Fri</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="5" name="retDay" id="retSat5" >
          <label class="segmented-control__label" for="retSat5">Sat</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="6" name="retDay" id="retSun6" checked>
          <label class="segmented-control__label" for="retSun6">Sun</label>
        </li>
      </ul>
      How many stops are you willing to have on your way back?
      <ul class="segmented-control">
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="0" name="retStops" id="RETnoStops" >
          <label class="segmented-control__label" for="RETnoStops">0</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="-2" name="retStops" id="REToneStop" checked>
          <label class="segmented-control__label" for="REToneStop">1</label>
        </li>
        <li class="segmented-control__item">
          <input class="segmented-control__input" type="radio" value="2" name="retStops" id="RETtwoStops" >
          <label class="segmented-control__label" for="RETtwoStops">2</label>
        </li>
      </ul>
      What's the earliest or latest you'd like your flight to take off? (Delete values to depart at anytime)
      <br>
      <br>
      <ul class="oneline">
        <div class = "trykeeptogether">
          <div class = "trykeeptogether">
            <tt>Early:</tt>
            <input id="retMinTime" type="text" value="8" onClick="this.value='';" name="returningTimeEarly" size="2" style="font-size:14pt;text-align: right" pattern="\d*">&nbsp;
            <li class="oneline__item">
              <input class="oneline__input" type="radio" value="0" name="retTimeEarlyAMPM" id="returningTimeEarlyAM" checked>
              <label class="oneline__label" for="returningTimeEarlyAM">AM</label>
            </li><!--
            --><li class="oneline__item">
              <input class="oneline__input" type="radio" value="12" name="retTimeEarlyAMPM" id="returningTimeEarlyPM" >
              <label class="oneline__label" for="returningTimeEarlyPM">PM</label>
            </li>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class = "trykeeptogether"><tt>Late:&nbsp;</tt>
            <input id="retMaxTime" type="text" value="10" onClick="this.value='';" name="returningTimeLate" size="2" style="font-size:14pt;text-align: right" pattern="\d*">&nbsp;
            <li class="oneline__item">
              <input class="oneline__input" type="radio" value="0" name="retTimeLateAMPM" id="returningtimeLateAM" >
              <label class="oneline__label" for="returningtimeLateAM">AM</label>
            </li><!--
            --><li class="oneline__item">
              <input class="oneline__input" type="radio" value="12" name="retTimeLateAMPM" id="returningtimeLatePM" checked>
              <label class="oneline__label" for="returningtimeLatePM">PM</label>
            </li>
          </div>
        </div>
      </ul>
    </div>
    <br>
    <div class="container">
      <p><input type="submit" value="Search" onClick="this.form.submit(); this.disabled=true; this.value='Searching...';" class="btn btn-primary btn-lg btn-block" ></p>
      <p><button onClick="return searchKayak();" class="btn btn-primary btn-lg btn-block" style="background-color:#ff5e14;border-color:#ff5e14;">
          Search KAYAK
        </button></p>
      <script>
        function searchKayak() {
            var i;
            for (i = 0; i < 18; i++) { 
                window.open(generateURL(i), '_blank');
            }
            return false;
        }
        function generateURL(loopCount) {
            return "https://www.kayak.com/flights/" + 
            document.getElementById('departingAirport').value.slice(0,3) +
            "-"+
            document.getElementById('arrivingAirport').value.slice(0,3) +
            
            generateDate(loopCount) +
            
            "?sort=price_a" + 

            generateTimeWindows() +

            generateMaxStops()

            ;
        }

        function getDay() {
        }
        function generateDate(loopCount) {

            var depDay = parseInt(document.querySelector('input[name="depDay"]:checked').value, 10) + 1;
            var retDay = parseInt(document.querySelector('input[name="retDay"]:checked').value, 10) + 1;
            var toDay = new Date().getDay();

            var depDate = new Date();
            depDate.setDate(depDate.getDate() + (depDay - toDay + (loopCount * 7)));

            var retDate = new Date();
            retDate.setDate(retDate.getDate() + (retDay - toDay + (loopCount * 7)));

            var depDay = depDate.getDate();
            var retDay = retDate.getDate();
            var depMonth = depDate.getMonth()+1; //January is 0!
            var retMonth = retDate.getMonth()+1; //January is 0!
            var depYear = depDate.getFullYear();
            var retYear = retDate.getFullYear();

            if (depDay < 10) {
                depDay = '0' + depDay;
            } 
            if (retDay < 10) {
                retDay = '0' + retDay;
            } 

            if (depMonth < 10) {
                depMonth = '0' + depMonth;
            } 
            if (retMonth < 10) {
                retMonth = '0' + retMonth;
            } 

            return '/' + depYear + '-' + depMonth + '-' + depDay + '/' + retYear + '-' + retMonth + '-' + retDay + '/';
        }
        function generateMaxStops() {
            var stopsDep = parseInt(document.querySelector('input[name="depStops"]:checked').value, 10);
            var stopsRet = parseInt(document.querySelector('input[name="retStops"]:checked').value, 10);

            if (stopsDep == 2 || stopsRet == 2) {
                return '';
            } else if (stopsDep == -2 || stopsRet == -2) {
                return ";stops=-2";
            } else {
                return ";stops=0";
            }
        }
        function generateTimeWindows() { 
            var depMinTime = parseInt(document.getElementById('depMinTime').value, 10);
            var depMinTimePM = parseInt(document.querySelector('input[name="depTimeEarlyAMPM"]:checked').value, 10);
            var depMaxTime = parseInt(document.getElementById('depMaxTime').value, 10);
            var depMaxTimePM = parseInt(document.querySelector('input[name="depTimeLateAMPM"]:checked').value, 10);
            var retMinTime = parseInt(document.getElementById('retMinTime').value, 10);
            var retMinTimePM = parseInt(document.querySelector('input[name="retTimeEarlyAMPM"]:checked').value, 10);
            var retMaxTime = parseInt(document.getElementById('retMaxTime').value, 10);
            var retMaxTimePM = parseInt(document.querySelector('input[name="retTimeLateAMPM"]:checked').value, 10);

            return "&fs=takeoff=" + convertToXXXX(depMinTime, depMinTimePM, true) + "," + convertToXXXX(depMaxTime, depMaxTimePM, false) + "|" + convertToXXXX(retMinTime, retMinTimePM, true) + "," + convertToXXXX(retMaxTime, retMaxTimePM, false) + "@0000"
        }
        function convertToXXXX(time, PM, early) {
            if (isNaN(time)) {
                if (early) {
                    return "0000";
                } else {
                    return "2359";
                }
            } else if (PM == 12) {
                time += 12;
            }
            if (time < 10) {
                time = "0" + time;
            }
            return time + "00";
        }
        </script>
      <br>
    </div>
  </form>
{% endblock %}
