<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Search</h1>
    <form action="" method="post" name="search">
      {{ form.hidden_tag() }}
        <div class="container"> 
          Please enter your Departing Airport:
          {{ form.departingAirport(size=3) }}<br>
          {% for error in form.departingAirport.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          Please enter your Arriving Airport:
          {{ form.arrivingAirport(size=3) }}<br>
          {% for error in form.arrivingAirport.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <br>
        <div class="container"> 
          <h2>Flight there:</h2><br>
          What day would you like to leave on?
        <ul class="segmented-control">
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="0" name="depDay" id="DepMon0" >
                <label class="segmented-control__label" for="DepMon0">Mon</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="1" name="depDay" id="DepTue1" >
                <label class="segmented-control__label" for="DepTue1">Tue</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="2" name="depDay" id="DepWed2" >
                <label class="segmented-control__label" for="DepWed2">Wed</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="3" name="depDay" id="DepThu3" checked>
                <label class="segmented-control__label" for="DepThu3">Thu</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="4" name="depDay" id="DepFri4" >
                <label class="segmented-control__label" for="DepFri4">Fri</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="5" name="depDay" id="DepSat5" >
                <label class="segmented-control__label" for="DepSat5">Sat</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="6" name="depDay" id="DepSun6" >
                <label class="segmented-control__label" for="DepSun6">Sun</label>
            </li>
        </ul>
        <p>
        How many stops are you willing to have on your way there?
        <ul class="segmented-control">
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="0" name="depStops" id="DEPnoStops" checked>
                <label class="segmented-control__label" for="DEPnoStops">0</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="1" name="depStops" id="DEPoneStop" >
                <label class="segmented-control__label" for="DEPoneStop">1</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="2" name="depStops" id="DEPtwoStops" >
                <label class="segmented-control__label" for="DEPtwoStops">2</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="3" name="depStops" id="DEPthreeStops" >
                <label class="segmented-control__label" for="DEPthreeStops">3</label>
            </li>
          </ul>
          <p>
            What's the earliest or latest you'd like your flight to take off?

            <ul class="oneline">
            Earliest:  {{ form.departingTimeEarly(size=2) }} 
              <li class="oneline__item">
                  <input class="oneline__input" type="radio" value="AM" name="depTimeEarly" id="departingTimeEarlyAM" checked>
                  <label class="oneline__label" for="departingTimeEarlyAM">AM</label>
              </li>
              <li class="oneline__item">
                  <input class="oneline__input" type="radio" value="PM" name="depTimeEarly" id="departingTimeEarlyPM" >
                  <label class="oneline__label" for="departingTimeEarlyPM">PM</label>
              </li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Latest:  {{ form.returningTimeLate(size=2) }} 
               <li class="oneline__item">
                  <input class="oneline__input" type="radio" value="AM" name="depTimeLate" id="returningTimeLateAM" checked>
                  <label class="oneline__label" for="returningTimeEarlyAM">AM</label>
              </li>
              <li class="oneline__item">
                  <input class="oneline__input" type="radio" value="PM" name="depTimeLate" id="returningTimeLatePM" >
                  <label class="oneline__label" for="returningTimeEarlyPM">PM</label>
              </li>
            </ul>
      </div>

        <div class="container"> 
          <h2>Flight back:</h2><br>
          What day would you like to return on?
        <ul class="segmented-control">
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="0" name="retDay" id="retMon0" >
                <label class="segmented-control__label" for="retMon0">Mon</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="1" name="retDay" id="retTue1" >
                <label class="segmented-control__label" for="retTue1">Tue</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="2" name="retDay" id="retWed2" >
                <label class="segmented-control__label" for="retWed2">Wed</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="3" name="retDay" id="retThu3" >
                <label class="segmented-control__label" for="retThu3">Thu</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="4" name="retDay" id="retFri4" >
                <label class="segmented-control__label" for="retFri4">Fri</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="5" name="retDay" id="retSat5" >
                <label class="segmented-control__label" for="retSat5">Sat</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="6" name="retDay" id="retSun6" checked>
                <label class="segmented-control__label" for="retSun6">Sun</label>
            </li>
        </ul>
                How many stops are you willing to have on your way back?
        <ul class="segmented-control">
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="0" name="retStops" id="RETnoStops" checked>
                <label class="segmented-control__label" for="RETnoStops">0</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="1" name="retStops" id="REToneStop" >
                <label class="segmented-control__label" for="REToneStop">1</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="2" name="retStops" id="RETtwoStops" >
                <label class="segmented-control__label" for="RETtwoStops">2</label>
            </li>
            <li class="segmented-control__item">
                <input class="segmented-control__input" type="radio" value="3" name="retStops" id="RETthreeStops" >
                <label class="segmented-control__label" for="RETthreeStops">3</label>
            </li>
          </ul>
      </div>
      </p>
      <div class="container"> 
        <p><input type="submit" value="Search" class="btn btn-primary btn-lg btn-block"></p>
      </div>
    </div>
  </form>
{% endblock %}